<div class="container-fluid">
    <div [@top-load] class="calendar-navigation">
        <div class="btn-group nav-btn">
            <button (click)="goToPreviousMonth()"> < </button>
            <h1 class="calendar-header">{{ currentMonth | date: 'MMMM yyyy' }}</h1>
            <button (click)="goToNextMonth()"> > </button>
        </div>
    </div>
    <div [@top-load] class="days-of-week">
        <div class="day-of-week">Mon</div>
        <div class="day-of-week">Tue</div>
        <div class="day-of-week">Wed</div>
        <div class="day-of-week">Thu</div>
        <div class="day-of-week">Fri</div>
        <div class="day-of-week">Sat</div>
        <div class="day-of-week">Sun</div>
    </div>
    <div class="calendar">
        <div *ngFor="let day of calendarDays" [@dayClick]
             [class.selected]="selectedDay?.date === day.date" (click)="openWeekView(day.date)" [ngClass]="{'disabled': day.disabled}" class="day">
            {{ day.date | date: 'dd' }}
            <div *ngIf="hasEventsForDay(day.date)" class="events-list">
                <ul>
                    <li *ngFor="let currentEvent of getStudentsForDay(day.date)" [ngStyle]="{'background-color': currentEvent.student.color}"
                        class="student-list">{{ currentEvent.student.firstName}} {{currentEvent.student.lastName }} : {{getFormattedTime(currentEvent.lessonStart, currentEvent.lessonEnd)}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
